[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  VITE_API_URL = "https://warm-hippopotamus-ghaly-fafb8bcd.koyeb.app/api/v1"
